<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"><!-- Añadiendo namespace -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Spring</title>
</head>
<body>

	<h1 class="color-rojo" th:text="${titulo}"></h1>
    <h2 class="color-azul" th:text="${titulomap}"></h2>
    <h3 th:text="${javamap}"></h3>
    <h4 th:text="${modelandview}"></h4>
    <img th:src="@{/images/spring.svg}"></img>
    
    
	<!-- Gracias a el Metodo pasarUsuarios() se puede mostrar los datos, pegando la tabla de usuarios  -->
	<!--
	<table th:if="${not usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Correo</th>
			</tr>
		</thead>
		
		<body>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</body>
	</table>-->
    
    
</body>
</html>