<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"><!-- Añadiendo namespace -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Param - Index</title>
</head>
<body>
	
	<h1>Enviar parametros del request HTTP GET - URL</h1>
	

	<ul>
		<li>
		<!-- Enviar: RUTA(parametros) -->
			<a th:href="@{/params/string(texto='Hola metodos GET')}">/params/string?texto=Hola metodos GET</a>
		</li>
		<li>
			<a th:href="@{/params/string(texto='Hola GET')}">/params/string?texto=Hola GET</a>
		</li>
	</ul>    
    
    
</body>
</html>